<div id="content" class="row">
    <div id="main-content" class="col-md-8 col-lg-9">
        <div class="corner-title">
            <h2>PROFILE</h2>
        </div>
        <div class="profile-list row">
            <div class="img-polaroid col-sm-3">
                <%= image_tag('profile.jpg', :class => "img-responsive" ,:alt => "profile") %>
			</div>
            <div class="col-sm-9">
                <h3 class="profile-name">hogesako</h3>
                <div class="profile-description">
                    <div class="works">
                        <div class="title">得意なスキル：</div>
                        <ul>
                            <li>Java(プログラミングもJVM系の解析も)</li>
                            <li>Spring Framework(Mybatis)</li>
                            <li>PostgreSQL</li>
                            <li>Amazon Redshift</li>
                            <li>SQLチューニング</li>
                            <li>パフォーマンステスト</li>
                        </ul>
                    </div>
                    <div class="works">
                        <div class="title">経験のあるスキル：</div>
                        <ul>
                            <li>JavaScript</li>
                            <li>MySQL</li>
                            <li>Selenium</li>
                            <li>Docker(ECS)</li>
                            <li>fluentd</li>
                            <li>Apache JMeter</li>
                            <li>Apache Solr</li>
                            <li>Play Framework</li>
                            <li>OpenGL</li>
                            <li>Python</li>
                        </ul>
                    </div>
                    <div class="works">
                        <div class="title">趣味で使っているスキル：</div>
                        <ul>
                            <li>Arduino(フラワースタンドを光らせる)</li>
                            <li>Ruby(Twitter botの作成)</li>
                            <li>Ruby on Rails(このサイト)</li>
                        </ul>
                    </div>
				</div>
            </div>
        </div>
    </div>
    <%= render partial: "shared/sidemenu" %>
</div>