<div id="content" class="row">
    <div id="main-content" class="col-md-8 col-lg-9">
        <div class="corner-title">
            <h2>NEWS</h2>
        </div>
        <div class="tag-list"></div>
        <div class="content-list col-sm-12">
            <ul class="list-unstyled">
                <% @contents.each do |news| %>
                    <li>
                        <a href="/contents/<%= news.id %>">
                            <div class="title"><%= news.title %></div>
                            <div class="meta"><span>UPDATE: <%= news.updated_at.strftime('%Y.%m.%d') %></span></div>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
    <%= render partial: "shared/sidemenu" %>
</div>