<div id="content" class="row">
    <div id="main-content" class="col-md-8 col-lg-9">
        <div class="corner-title">
            <h2>DISCOGRAPHY 改め PORTFOLIO</h2>
        </div>
        <div id="portfolio">
            <ul class="content-list">
                <li>
                    <h3>染めるフラスタ</h3>
                    <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">今回のフラスタはCOLOR PALETTE　SHOWをテーマに、くっすんがお花に絵を描きます！<br>よるになるとめちゃ綺麗！！ <a href="https://t.co/o67fov3VdM">pic.twitter.com/o67fov3VdM</a></p>&mdash; いかさこ (@hogesako) <a href="https://twitter.com/hogesako/status/959716251055546368?ref_src=twsrc%5Etfw">2018年2月3日</a></blockquote>
                </li>
                <li>
                    <h3>染めるフラスタ 2画面同期</h3>
                    <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">なんかいい感じに同期するといい感じになる胃もたれっすんフラスタです。 <a href="https://t.co/DXVdmVVtxn">pic.twitter.com/DXVdmVVtxn</a></p>&mdash; いかさこ (@hogesako) <a href="https://twitter.com/hogesako/status/1091609879003840513?ref_src=twsrc%5Etfw">2019年2月2日</a></blockquote>
                </li>
                <li>
                <h3>AR フラスタ</h3>
                <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ロビースペースの都合でフラスタが出せないなら、AR（仮想現実）空間にフラスタ（？）を出せばよいじゃない！ということで、ARフラスタを出させていただきました。<br><br>チラシのデザインとかサーバの構築とかCDNの設定とかちょっとプログラミングとかしてました。 <a href="https://t.co/Bw1c0iq7FP">pic.twitter.com/Bw1c0iq7FP</a></p>&mdash; いかさこ (@hogesako) <a href="https://twitter.com/hogesako/status/1049094649783103488?ref_src=twsrc%5Etfw">2018年10月8日</a></blockquote>
                </li>
            </ul>
        </div>
    </div>
    <%= render partial: "shared/sidemenu" %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>