<div id="side-menu" class="col-md-4 col-lg-3 hidden-sm">
	<div class="youtube">
			<div class="iframe">
				<iframe  src="//www.youtube.com/embed/rsqG442NjQA?rel=0&amp;showsearch=0&amp;showinfo=1&amp;autohide" frameborder="0" allowfullscreen=""></iframe>
			</div>
			<div class="iframe">
				<iframe src="//www.youtube.com/embed/UN2W5DO37Ws?rel=0&amp;showsearch=0&amp;showinfo=1&amp;autohide" frameborder="0" allowfullscreen=""></iframe>
			</div>
			<div class="iframe">
				<iframe  src="//www.youtube.com/embed/fmExhUM7fJw?rel=0&amp;showsearch=0&amp;showinfo=1&amp;autohide" frameborder="0" allowfullscreen=""></iframe>
			</div>
	</div>
	<div class="side-twitter">
		<div class="iframe text-center hidden-sm">
			<a class="twitter-timeline" data-width="100%" data-height="600" href="https://twitter.com/hogesako?ref_src=twsrc%5Etfw">Tweets by hogesako</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>		</div>
	</div>
</div>