<div id="content" class="row">
    <div class="container">
        <h2>ページが見つかりませんでした</h2>
        <p>以下の様な理由が考えられます。</p>
        <ul>
            <li>アクセスしたページが存在しない。</li>
            <li>アクセスしたページが現在、非公開である。</li>
            <li>アクセスしたページのURLが変更された可能性があります。トップページから再度、ページをお探しください。</li>
        </ul>
        <div>
            <a href="/">トップへ</a>
        </div>
    </div>
</div>