/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    background: image-url("bg_body.png");
}

ul,ol{
    list-style: none;
}

a {
    color: #666;
}

.fas:before {
    margin-right: 5px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.auth-menu{
    margin: 10px 0 0 auto;
    display: table;
    font-size: 13px;
    > li{
        display: table-cell;
        padding: 0 20px;
        > a{
            color: #fff;
            text-decoration: none;
        }
    }
}

 #header{
    background: image-url("bg_header.png") repeat-x;

     #site-logo{
        img{
            width: 100%;
            margin: 0 auto 7px;
            max-width: 860px;
            height: auto;
        }
     }
 }

 .navbar-default {
    border: none;
    background-color: #f9f9f9;
    border-top: 3px solid #67acdb;
    border-bottom: 3px solid #67acdb;
    font-size: 14px;
    margin-bottom: 0;

    .navbar-nav{
        width: 100%;
        display: table;

        >li {
            margin: 0;
            text-align: center;
            float: none;
            display: table-cell;
            padding: 0 !important;
            >a {
                text-decoration: none;
                position: relative;
                display: block;
                text-align: center;
                border-left: 1px #b0aca3 solid;
                i{
                    display: block;
                    color: #777;                
                }
                .navbar-text{
                    color: #e89aba;
                    margin: 3px 0 0;
                    font-size: 12px;
                    padding: 0;
                }
            }
        }
        >li:last-child a {
            border-right: 1px #b0aca3 solid;
        }
    }
}

 #content.container {
    background: #fff;
    min-height:500px;
}

#content.container>.row, #content.container #dashboard {
    padding: 20px 10px 40px;
}

#footer{
    background-color:#1d2a6f;
    .footer-menu,.footer-text{
        padding-top:10px;
        font-size: 12px;
        text-align: center;
        color:#fff;
        width:100%;
    }
}

.youtube .iframe{
    padding-top:56.25%;
}

.iframe{
    position:relative;
    width:100%;
    margin-bottom: 10px;
}

.iframe iframe{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
}

.corner-title{
    border-bottom: 3px solid #8ccbea;
    color: #8ccbea;
}