// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meta {
    color: #999;
    font-size: 13px;
}

.title {
    color: #666;
    display: inline;
    line-height: 22px;
    font-weight: bold;
    font-size: 14px;
}

.content-list {
    padding-right: 5px;
    padding-left: 5px;
    ul li {
        padding: 5px 0;
        border-bottom: 2px dotted #aaa;
        a{
            text-decoration: none;
        }
    }
}

h3, .h3 {
    font-size: 23px;
    margin-top: 18px;
    margin-bottom: 9px;
}

.body {
    border-top: 1px solid #ccc;
    padding-top:20px;
}