<div id="content" class="row">
    <div id="main-content" class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="panel-title">ログイン</h3>
            </div>
            <%= render 'form' %>
        </div>
        <div class="alert alert-info">
			<a href="/signup">未登録の方はこちらからご登録下さい</a>
		</div>
    </div>
</div>